<div class="center-card">
  <mat-card class="centered-card">
    <mat-card-header>
      <mat-card-title>
        <b>Login</b>
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form>
        <mat-form-field style="width: 100%">
          <input matInput placeholder="E-Mail" [(ngModel)]="email" [formControl]="emailFormControl" [errorStateMatcher]="matcher" name="email">
          <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
            Please enter a valid email address
          </mat-error>
          <mat-error *ngIf="emailFormControl.hasError('required')">
            Email is <strong>required</strong>
          </mat-error>
        </mat-form-field>

        <mat-form-field style="width: 100%">
          <input matInput [type]="'password'" placeholder="Password" [(ngModel)]="password" name="password">
        </mat-form-field>

        <div style="color: red" *ngIf="showError">
          Could not login.
        </div>

        <div>
          <button mat-raised-button (click)="tryLogin()">
            Login
          </button>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</div>
