<form>
  <mat-form-field style="width: 100%">
    <input matInput placeholder="Number" [(ngModel)]="department.number" name="number">
  </mat-form-field>

  <mat-form-field style="width: 100%">
    <input matInput placeholder="Name" [(ngModel)]="department.name" name="name">
  </mat-form-field>

  <mat-form-field style="width: 100%">
    <input matInput placeholder="Color" [(colorPicker)]="color" [cpAlphaChannel]="'disabled'" [style.background]="color" name="color">
  </mat-form-field>

  <button mat-raised-button (click)="finish()"><mat-icon>create</mat-icon> Finish</button>
</form>
