<form>
  <mat-form-field style="width: 100%">
    <input matInput placeholder="Name" [(ngModel)]="course.name" name="name">
  </mat-form-field>

  <mat-form-field style="width: 100%">
    <textarea matInput placeholder="Description" [(ngModel)]="course.description" name="description"></textarea>
  </mat-form-field>

  <mat-form-field style="width: 100%">
    <input matInput placeholder="Room" [(ngModel)]="course.room" name="room">
  </mat-form-field>

  <mat-form-field style="width: 100%">
    <input matInput placeholder="Available Slots" [(ngModel)]="course.availableSlots" name="slots">
  </mat-form-field>

  <mat-form-field style="width: 100%">
    <input matInput placeholder="ECTS" [(ngModel)]="course.ects" name="ects">
  </mat-form-field>

  <mat-form-field style="width: 100%">
    <input matInput placeholder="US Credits" [(ngModel)]="course.usCredits" name="usCredits">
  </mat-form-field>

  <mat-form-field style="width: 100%">
    <input matInput placeholder="SWS" [(ngModel)]="course.semesterWeekHours" name="sws">
  </mat-form-field>

  <!-- TODO Dates and duration -->

  <mat-form-field style="width: 100%">
    <mat-select placeholder="Course status" [(value)]="course.courseStatus">
      <mat-option *ngFor="let status of getStatusNames()" [value]="status">
        {{ status }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field style="width: 100%">
    <mat-select placeholder="Lecturer" [(value)]="course.lecturer">
      <mat-option *ngFor="let lecturer of lecturers" [value]="lecturer">
        {{ lecturer.name }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field style="width: 100%">
    <mat-select placeholder="Department" [(value)]="course.department">
      <mat-option *ngFor="let department of departments" [value]="department">
        {{ department.name }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field style="width: 100%">
    <mat-select placeholder="Location" [(value)]="course.location">
      <mat-option *ngFor="let campus of campuses" [value]="campus">
        {{ campus.name }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <button mat-raised-button (click)="finish()"><mat-icon>create</mat-icon> Finish</button>

</form>
