<h2 mat-dialog-title>{{isEdit ? 'Edit' : 'Create'}} Course</h2>
<form>
  <mat-form-field style="width: 100%">
    <input matInput placeholder="Name" [(ngModel)]="course.name" name="name">
  </mat-form-field>

  <mat-form-field style="width: 100%">
    <textarea matInput placeholder="Description" #descriptioncontent [(ngModel)]="course.description" maxlength="3000" name="description"></textarea>
    <mat-hint align="end">{{ descriptioncontent.value.length }} / 3000</mat-hint>
  </mat-form-field>

  <mat-form-field style="width: 100%">
    <input matInput placeholder="Available Slots" [(ngModel)]="course.availableSlots" name="slots">
  </mat-form-field>

  <mat-form-field style="width: 100%">
    <input matInput placeholder="ECTS" [(ngModel)]="course.ects" name="ects">
  </mat-form-field>

  <mat-form-field style="width: 100%">
    <input matInput placeholder="US Credits" [(ngModel)]="course.usCredits" name="usCredits">
  </mat-form-field>

  <mat-form-field style="width: 100%">
    <input matInput placeholder="SWS" [(ngModel)]="course.semesterWeekHours" name="sws">
  </mat-form-field>

  <mat-form-field style="width: 100%">
    <mat-select placeholder="Course status" [(value)]="course.courseStatus">
      <mat-option *ngFor="let status of getStatusNames()" [value]="status">
        {{ status }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field style="width: 100%">
    <mat-select placeholder="Lecturer" [(value)]="course.lecturer">
      <mat-option *ngFor="let lecturer of lecturers" [value]="lecturer">
        {{ lecturer.name }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field style="width: 100%">
    <mat-select placeholder="Department" [(value)]="course.department">
      <mat-option *ngFor="let department of departments" [value]="department">
        {{ department.name }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field style="width: 100%">
    <mat-select placeholder="Location" [(value)]="course.location">
      <mat-option *ngFor="let campus of campuses" [value]="campus">
        {{ campus.name }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <h3>Course appointments:</h3>
  <div *ngFor="let appointment of appointments; let i = index" [attr.data-index]="i" class="app-date-time-field">
    {{ i + 1 }}
    <mat-icon>keyboard_arrow_right</mat-icon>

    <span>
      Date:&nbsp;
    </span>
    <b *ngIf="appointment.date != null">
      {{ weekdays[appointment.date.getDay()] }} - {{ appointment.date.getHours() + ':' + appointment.date.getMinutes() }}
    </b>

    <span>
      Duration:&nbsp;
    </span>
    <b>
      {{ appointment.duration }}
    </b>

    <button mat-icon-button (click)="editAppointment(appointment)"><mat-icon>create</mat-icon></button>
    <button mat-icon-button (click)="deleteAppointment(appointment)"><mat-icon>delete</mat-icon></button>
  </div>

  <div>
    <button mat-stroked-button (click)="addAppointment()"><mat-icon>add</mat-icon> Another appointment</button>
  </div>

  <mat-dialog-actions>
    <button mat-raised-button (click)="finish()">
      <mat-icon>create</mat-icon>
      Finish
    </button>
  </mat-dialog-actions>
</form>
