<h2>Add User</h2>
<form>
  <div>
    <label for="firstName">First name:</label>
    <input [(ngModel)]="user.firstName" placeholder="First name" name="firstName" id="firstName">
  </div>

  <div>
    <label for="lastName">Last name:</label>
    <input [(ngModel)]="user.lastName" placeholder="Last name" name="lastName" id="lastName">
  </div>

  <div>
    <label for="email">Email address:</label>
    <input type="email" [(ngModel)]="user.email" placeholder="Email" name="email" id="email">
  </div>

  <div>
    <label for="password">Password:</label>
    <input type="password" [(ngModel)]="user.password" placeholder="Password" name="password" id="password">
  </div>

  <button (click)="createUser()">Create</button>
</form>
