/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

html, body {
  margin: 0;
}

* {
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.center-card {
  display: flex;
  justify-content: center;
}

.centered-card {
  max-width: 400px;
}

mat-card-title {
  font-weight: bold;
  font-size: 1.3em !important;
}

a {
  color: lightcoral;
  text-decoration: none;
}

.control-buttons > button {
  margin: 0 0.2em;
}
