<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button *ngIf="isLoggedIn" mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu" class="main-navigation">
      <button mat-menu-item (click)="navigateTo('/dashboard')">Dashboard</button>
      <button mat-menu-item (click)="navigateTo('/users')">User Management</button>
      <button mat-menu-item (click)="navigateTo('/courses')">Course Management</button>
      <button mat-menu-item (click)="navigateTo('/locations')">Campus Management</button>
      <button mat-menu-item (click)="navigateTo('/departments')">Department Management</button>
      <button mat-menu-item (click)="navigateTo('/lecturers')">Lecturer Management</button>
      <button (click)="logout()" mat-menu-item>Logout</button>
    </mat-menu>
    <span>{{title}}</span>
  </mat-toolbar-row>
</mat-toolbar>
<div protected class="main-content">
  <router-outlet></router-outlet>
</div>
