<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button *ngIf="isLoggedIn" mat-stroked-button [matMenuTriggerFor]="menu">
      <mat-icon>more_vert</mat-icon>
      Menu
    </button>
    <mat-menu #menu="matMenu" class="main-navigation">
      <button mat-menu-item (click)="navigateTo('/dashboard')"><mat-icon>dashboard</mat-icon> Dashboard</button>
      <button mat-menu-item (click)="navigateTo('/users')"><mat-icon>account_circle</mat-icon> Users</button>
      <button mat-menu-item (click)="navigateTo('/courses')"><mat-icon>library_books</mat-icon> Courses</button>
      <button mat-menu-item (click)="navigateTo('/locations')"><mat-icon>place</mat-icon> Campuses</button>
      <button mat-menu-item (click)="navigateTo('/departments')"><mat-icon>group_work</mat-icon> Departments</button>
      <button mat-menu-item (click)="navigateTo('/lecturers')"><mat-icon>supervised_user_circle</mat-icon> Lecturers</button>
      <button (click)="logout()" mat-menu-item><mat-icon>exit_to_app</mat-icon> Logout</button>
    </mat-menu>
    <span class="app-title">{{title}}</span>
    <button mat-stroked-button (click)="sendNotification()"><mat-icon>cast</mat-icon> Send notification</button>
  </mat-toolbar-row>
</mat-toolbar>
<div protected class="main-content">
  <router-outlet></router-outlet>
</div>
