<h2>Settings</h2>

<div>
  <mat-slide-toggle [checked]="isBackgroundMusicEnabled" (change)="backgroundMusicEnabled($event)">
    Play background music
  </mat-slide-toggle>
</div>

<h3>Privacy Policy</h3>

<div>
  <h4>Introduction</h4>
  <p>
    This privacy policy informs you about the way the CiE-Server handles personal data.
  </p>

  <h4>Person responsible</h4>
  <p>
    Hochschule für angewandte Wissenschaften München,<br>
    Körperschaft des öffentlichen Rechts, vertreten durch den Präsidenten,<br>
    Prof. Dr. Martin Leitner<br>
    Lothstraße 34<br>
    D-80335 München<br>
    Tel.: +49 (0) 89 12 65 - 0<br>
    Fax: +49 (0) 89 12 65 - 3000<br>
    Email: presse@hm.edu<br>
    Internet: www.hm.edu
  </p>

  <h4>Contact</h4>
  <p>
    Prof. Dr. Gudrun Socher<br>
    Fakultät für Informatik und Mathematik<br>
    Lothstraße 64<br>
    D-80335 München<br>
    gudrun.socher@hm.edu
  </p>

  <h4>Types of stored data</h4>
  <ul>
    <li>E-Mail address of the users</li>
    <li>Selected courses of the users</li>
    <li>Favorized courses of the users</li>
    <li>The taken courses of each user</li>
  </ul>

  <h4>Affected persons</h4>
  <p>
    We store the data of the users of our app mainly students of the Hochschule München, exchange students as well as professors using the CiE App/Server.
  </p>

  <h4>Purpose of processing</h4>
  <p>
    We process your data to provide you with information about the Courses in English offer as well as providing you with the allocated to you.
  </p>

  <h4>Duration of the storage</h4>
  <p>
    All our data is stored as long as the user uses the CiE services.
  </p>

  <h4>Right of objection</h4>
  <p>
    You can stop further processing of you data according to Art. 21 DSGVO by contacting the CiE contact person.
  </p>
</div>
